
body{
    background-image: url(timer.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    margin:0;
    background-color: #f6cd90;
}




input[type=text]{
    text-align: center;
    height:60px;
    background-color: #003f5c;
    margin-left: 53%;
    margin-top:5%;

    
}

.display{
    margin-top:1%;
    margin-left:50%;
    padding:20px;
    
    width:auto;
    height: 200px
}

.display h1{
    font-size: 700%;
    color: #7c6fc1;
}

.display p{
    color: #859fdd;
    
    font-size: 250%;
}

